# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

#dist directories
dist

#etc
yarn.lock
yarn-error.log

#secret-config
config.ts
.env